.popup-image__name {
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	font-weight: 400;
	width: 291px;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	align-self: self-start;
	padding: 0;
	margin: 8px 0 0 0;
}