.profile__avatar {
	width: 120px;
	min-width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 2.34vw;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 1 / 1;
	z-index: 1;
	position: relative;
}


@media screen and (min-width:1280px) {
	.profile__avatar {
		margin-right: 30px;
	}
}

@media screen and (max-width:576px) {
	.profile__avatar {
		margin-right: 0;
		margin-bottom: 26px;
	}
}