.elements__delete{
	position: absolute;
	top: 19px;
	right: 21px;
	background-image: url(../../../Images/Elements/Group.svg);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	width: 18px;
	height: 19px;
	background-color: transparent;
	cursor: pointer;
}